<mat-card>
  <form #dishForm="ngForm" (ngSubmit)="save(dishForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{edit? '编辑' + dish.name : '添加新菜'}} </h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="菜名" [(ngModel)]="dish.name"
               required name="name" #name>
      </mat-form-field>
      <app-upload-image  [edit]="edit" [dish]="dish" *ngIf="hasloaded==true || edit==false"></app-upload-image>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!dishForm.form.valid">保存</button>
      <button mat-raised-button color="secondary" (click)="remove(dish.id)"
              *ngIf="dish.id" type="button">删除</button>
      <a mat-button routerLink="/dish-list">取消</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>
</mat-card>
