mat-card img{
  /*object-fit: cover; !*this makes the image in src fit to the size specified below*!*/
  width: 400px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
}

.dish-row {
  height: 100%;
}

.dish-card {
  display: inline-block;
  margin: 30px;
}

.content {
  display: flex;
  flex-direction: row;
}
.selection-board {
  width: 8vw;
  min-width: 200px;
  background-color: rgba(0, 0, 0, .03) ;
}

.showcase-board {
  width: 92vw;
  height: 90vh;
  overflow: auto;
}
.image-tr{
  cursor: pointer;
}

.add-dish-button {
  position: fixed;
  bottom: 30px;
}
